main{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 2%;
}
body{
    background: rgb(201, 227, 227);
}
@media (min-width: 100px) and (max-width: 750px) {
   main>.post{
    grid-column-start: 1;
    grid-column-end: 4;
   }
   header>.logoText{
    margin-right: 5%;
   }
}
