header{
    display: flex;
    justify-content: space-between;
    padding: 8%;
}
#navBar{
    position: fixed;
    width: 12%;
    display: flex;
    justify-content: space-around;
    background: white;
    border-radius: 10px;
}
@media (min-width: 100px) and (max-width: 750px){
    #navBar{
        width: 23%;
        background-color: rgb(145, 221, 196);
    }
}