header{
    display: flex;
    justify-content: space-between;
    padding: 8%;
}
#navBar{
    position: fixed;
    width: 12%;
    display: flex;
    justify-content: space-around;
    background: white;
    border-radius: 10px;
}